 <ul class="nav nav-pills navbar-top">
  <li class="active">
    <h3 class="h1-title">BYE<i class="icon-cloud"></i>NY</h3>
  </li>
  <li class="nav-li">
    <a href="/aboutus">About Us</a>
  </li>
  <li class="nav-split">|</li>
  <li class="nav-li">
    <a href="/index">Airports</a>
  </li> 
  <li><div class="creators"><p>
    Share! &nbsp;&nbsp; <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank">
  <i class="icon-facebook-sign"></i> 
</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="https://twitter.com/share"><i class="icon-twitter-sign"></i></a>
   <!--  Samuel Spector, Wesley Yu, Neel Patel <i id="ampersand">&amp;</i> Winson Yuan -->
  </p>

  </div></li>
  <div id="mantra"><p class="mantra">A Data Visualization of Every Flight That Departed From The New York Area Yesterday</p>
</ul>
<hr class="nav-line">

<div id = "aboutus">

<h4>Contributors to this project:</h4>
<br>

<ul> 
	<li><h5>Neel Patel<h5></li>
		<ul>
			<li><strong>Bio:</strong> Coming Soon!</li>
			<li><strong>Email:</strong> neelp22@gmail.com</li>
	</ul>

	<li><h5>Winson Yuan</h5></li>
		<ul>
			<li><strong>Bio:</strong> Coming Soon!</li>
			<li><strong>Email:</strong> winson.yuan@hotmail.com</li>
	</ul>

	<li><h5>Wesley Yu</h5></li>
		<ul>
			<li><strong>Bio:</strong> Coming Soon!</li>
			<li><strong>Email:</strong> whyu@gmail.com</li>
	</ul>

	<li><h5>Sam Spector</h5></li>
		<ul>
			<li><strong>Bio:</strong> Coming Soon!</li>
			<li><strong>Email:</strong> samalden.spector@gmail.com</li>
	</ul>

</ul>

</div>
		