</div>
<div class="wrapper-div">
  <div class="button-div" id="restart">
    <div class="span3 pause-button">
      <a href="#fakelink" class="btn btn-large btn-block btn-warning">Pause</a>
    </div>
    <div class="span3 restart-button">
      <a href="#fakelink" class="btn btn-large btn-block btn-danger">Restart</a>
    </div>
  </div>
  <div class="bullet-div">
  </div>
  <h3 class="body-title title-div">Flights</h3>
  <div class="body-text body-div"> 

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, aut est officia in illo blanditiis iste sed ipsum! Id, itaque minus doloribus a porro natus accusamus ducimus repellendus! Modi, commodi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, earum, eaque, eius, repellendus incidunt laborum mollitia nobis neque accusantium et impedit dolorum eos rem beatae adipisci. Impedit, placeat non ipsa.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, assumenda, minus voluptatibus dolore voluptas neque harum enim ratione maiores aliquid dignissimos ea? Tempore aliquam aperiam accusamus dolorum soluta quo?
    </p>
  </div>
</div>





