</div>
<div class="wrapper-div">
  <div class="button-div">
    <div class="span3 restart-button">
      <a href="#fakelink" class="btn btn-large btn-block btn-danger">Restart</a>
    </div>
    <div class="btn-group drop-down">
      <i class="dropdown-arrow dropdown-arrow-inverse"></i>
      <button class="btn btn-primary">Choose an Airport...</button>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-inverse">
        <li><a href="/index">Newark Int'l Airport</a></li>
        <li><a href="/index">JFK Int'l Airport</a></li>
        <li><a href="/index">LaGuardia Airport</a></li>
      </ul>
  </div>
  <div class="bullet-div"><!-- bullet point div -->
  </div>
</div>
  <h3 class="body-title title-div">Flights</h3>
  <div class="body-text body-div"> 

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, aut est officia in illo blanditiis iste sed ipsum! Id, itaque minus doloribus a porro natus accusamus ducimus repellendus! Modi, commodi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, earum, eaque, eius, repellendus incidunt laborum mollitia nobis neque accusantium et impedit dolorum eos rem beatae adipisci. Impedit, placeat non ipsa.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, assumenda, minus voluptatibus dolore voluptas neque harum enim ratione maiores aliquid dignissimos ea? Tempore aliquam aperiam accusamus dolorum soluta quo?
    </p>
  </div>






