 <ul class="nav nav-pills navbar-fixed-top">
  <li class="active">
    <a href="/index">ByeNY</a>
  </li>
  <li><a href="#">About Us</a></li>
</ul>
<div id="map-div" class="transition">
<div id="flight-paths"> </div>

  <div class="side-legend" id="side-legend">
    <p class="title">Lorem ipsum</p>
  </div>
</div>
<div class="wrapper-div">
  <div class="button-div">
    <div class="span3 restart-button">
      <a href="#" class="btn btn-large btn-block btn-danger">Restart</a>
    </div>
    <div class="span3 air-port-button">
      <select name="airportlist" value="Choose Airport" class="select-block span3 air-port-button btn btn-primary" id="airport-selection">
        <option value="0">Choose Airport</option>
        <option value="1">Newark Int'l</option>
        <option value="2">JFK Int'l</option>
        <option value="3">LaGuardia</option>
      </select>
    </div>
  <div class="bullet-div"><!-- bullet point div -->
  </div>
</div>
<div class="body-text body-div"> 
  <h3 class="body-title title-div">Flights</h3>
    <p class="info-text">
      <%= Flights.count %> departed from New York between <% Flight.first %> 
    </p>
</div>






