<div id="map-div" class="blackbg whitebg">
  <div class="side-legend" id="side-legend">
    <p>Lorem ipsum</p>
  </div>
</div>

<h3>Flights</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, aut est officia in illo blanditiis iste sed ipsum! Id, itaque minus doloribus a porro natus accusamus ducimus repellendus! Modi, commodi.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, earum, eaque, eius, repellendus incidunt laborum mollitia nobis neque accusantium et impedit dolorum eos rem beatae adipisci. Impedit, placeat non ipsa.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, laborum, assumenda, minus voluptatibus dolore voluptas neque harum enim ratione maiores aliquid dignissimos ea? Tempore aliquam aperiam accusamus dolorum soluta quo?
</p>