<div class="parallax-top"></div>
  
<div class="bg"></div>
<script>
 $(document).ready(function() {
  $(window).scroll(function(e){
    parallax();
  });
  function parallax() {
    var scrolled = $(window).scrollTop();
    $('.bg').css('top', -(scrolled * 0.20) + 'px');
  } 
});
</script>

<!-- <div id ="load-wrapper"> -->

    <div id="content-to-move">
      <h1 class="text-center" id="splash">BYE<i class="icon-cloud"></i>NY</h1>
      <h6 class = "text-center" id="load-text">A Data Visualization of Every Flight That Departed From The New York Area Yesterday</h6>
      <br/>
    </div> 

    <div id = "instructions">
      <div id="instructions-text">
        <!-- <p class = "text-center"> -->
        <p>
          BYE<i class="icon-cloud"></i>NY takes every flight that departed yesterday from the three major New York City airports - EWR, JFK, and LGA - and displays them based on their departure time and continent of destination.  
        </p>
        <br>
        <p>
          The animation is portrayed over a 24 hour period.  Each "burst" of color represents all of the flights that departed in that 15 minute time period.  Furthermore, each line is an individual flight whose continent of destination is represented by the line's color.

        </p>
      </div>  
    </div>


    <div id = "load-button" class="btn btn-block btn-lg btn-primary">
      Pack your bags!
    </div>
    <br>
    <div id ="space-taker">
    </div>




<div class="parallax-bottom">

</div>

