<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="bg"></div>
<script>
 $(document).ready(function() {
  $(window).scroll(function(e){
    parallax();
  });
  function parallax() {
    var scrolled = $(window).scrollTop();
    $('.bg').css('top', -(scrolled * 0.20) + 'px');
  }
});
</script>


<div class="text-center" id="load">
  <h1 class="text-center" id="splash">BYE<i class="icon-cloud"></i>NY</h1>
  <br/>
        <div id = "load-button">
          <a href="/index" class="btn btn-block btn-lg btn-primary">Take off!</a>
        </div>


 <!--  <div class="btn-group">
    <i class="dropdown-arrow dropdown-arrow-inverse"></i>
    <button class="btn btn-primary">Choose an Airport...</button>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-inverse">
      <li><a href="/index">Newark Int'l Airport</a></li>
      <li><a href="/index">JFK Int'l Airport</a></li>
      <li><a href="/index">LaGuardia Airport</a></li>
    </ul>
  </div> -->
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3> by: Team Cuddly Bunnies!</h3>