<div class="text-center" id="load">
  <h1 class="text-center" id="splash">ByeNY</h1>
  <div class="btn-group">
    <i class="dropdown-arrow dropdown-arrow-inverse"></i>
    <button class="btn btn-primary">Choose an Airport...</button>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-inverse">
      <li><a href="#fakelink">Newark Int'l Airport</a></li>
      <li><a href="#fakelink">JFK Int'l Airport</a></li>
      <li><a href="#fakelink">LaGuardia Airport</a></li>
    </ul>
  </div>
</div>