<div class="parallax-top"></div>
  
<div class="bg"></div>
<script>
 $(document).ready(function() {
  $(window).scroll(function(e){
    parallax();
  });
  function parallax() {
    var scrolled = $(window).scrollTop();
    $('.bg').css('top', -(scrolled * 0.20) + 'px');
  }
});
</script>

<!-- <div id ="load-wrapper"> -->

    <div id="content-to-move">
      <h1 class="text-center" id="splash">BYE<i class="icon-cloud"></i>NY</h1>
      <h6 class = "text-center" id="load-text">A Data Visualization of Every Flight That Departed From The New York Area Yesterday</h6>
      <br/>
    </div> 

    <div id = "instructions">
      <div id="instructions-text">
        <h6 class = "text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus auctor leo, nec faucibus eros. Donec euismod volutpat placerat. Nunc orci sapien, pretium non turpis at, scelerisque feugiat dolor. Nulla dignissim aliquam massa, at imperdiet arcu eleifend eu. Fusce sapien augue, volutpat et tortor id, ultrices convallis eros. In sapien lacus, molestie in pulvinar vel, aliquet vitae lacus. Pellentesque mauris nunc, interdum non consectetur ut, mattis iaculis justo. Integer ac accumsan nunc. Pellentesque sagittis porttitor nunc at viverra. Mauris pharetra libero nec semper accumsan. Aenean nec diam eget sem aliquet porttitor. Etiam vel dapibus mi, id laoreet velit. Donec egestas porttitor nisl.</h6>
      </div>  
    </div>


    <div id = "load-button" class="btn btn-block btn-lg btn-primary">
      Pack your bags!
    </div>




<div class="parallax-bottom">

</div>

