<div id="ajax-one" style="height: 50px; width: 50px; background-color: red">
</div>
<div id="response-one"></div>
<br>

<div id="ajax-two" style="height: 50px; width: 50px; background-color: green">
</div>
<div id="response-two"></div>
<br>

<div id="ajax-three" style="height: 50px; width: 50px; background-color: blue">
</div>
<div id="response-three"></div>
<br>

<div id="ajax-four" style="height: 50px; width: 50px; background-color: yellow">
</div>
<div id="response-four"></div>
<br>

<div id="ajax-five" style="height: 50px; width: 50px; background-color: orange">
</div>
<div id="response-five"></div>
<br>

<div id="ajax-six" style="height: 50px; width: 50px; background-color: black">
</div>
<div id="response-six"></div>
<br>