<div id="ajax-one" style="height: 50px; width: 50px; background-color: red">
</div>
<div id="response-one"></div>
<br>

<a href="/test2"><div id="ajax-two" style="height: 50px; width: 50px; background-color: green">
test csv!
</div></a>
<div id="response-two"></div>
<br>

<a href="/ewr"><div id="ajax-three" style="height: 50px; width: 50px; background-color: blue">
NEWARK json. Desperate
</div></a>
<div id="response-three"></div>
<br>

<a href="/jfk"><div id="ajax-four" style="height: 50px; width: 50px; background-color: yellow">
JFK json. Yeah.
</div></a>
<div id="response-four"></div>
<br>

<div id="ajax-five" style="height: 50px; width: 50px; background-color: orange">
</div>
<div id="response-five"></div>
<br>

<div id="ajax-six" style="height: 50px; width: 50px; background-color: black">
</div>
<div id="response-six"></div>
<br>