/************ splash *************/
.bg {
  background: url("load_clouds.jpg");
  position: fixed;
  height: 1100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#splash {
  margin-top: 10%;
  font-size: 10em;
}

#load-button {
  width: 125px;
  margin: 0px auto;
}

/************ map **************/




/************ body index.html.erb *************/

.air-port-button {
  /*border: 1px solid;*/
  height: 41px;
  padding-top: 5px;
  width: 205px;
}

.restart-button {
  /*border: 1px solid;*/
  margin-top: 5px;
  width: 205px;
}

.button-div {
  /*border: 1px solid black;*/
  width: 350px;
  float: left;
  margin-left: 60px;
  
}

.bullet-div {
  float: left;
}

.h1-title {
  color: rgba(52, 73, 94,1.0);
  /*border: 1px solid;*/
  margin-left: 50px;
  margin-right: 30px;
}

.nav {
  /*border: 1px solid;*/
  height: 90px;
  margin-left: 40px;
  width: 92%;
}

.nav-li {
  /*border: 1px solid;*/
  margin-top: 10px;
}

.nav-split {
  /*border: 1px solid;*/
  margin-top: 17px;
}

#mantra {
  margin-top: 55px;
  margin-left: 50px;
  color: rgba(52, 73, 94,1.0);
}

.mantra {
  /*border: 1px solid;*/
}

.nav-line {
  /*border: 1px solid;*/
  height: 2px;
  margin-left: 50px;
  margin-top: -10px;
  width: 90%;
}

.creators {
  color: rgba(26, 188, 156,1.0);
  font-size: 10px;
  margin-left: 300px;
}

#ampersand {
  color: rgba(211, 84, 0,1.0);
}

.title {
  padding-left: 5px;
}

.body-div {
  background: rgba(0, 0, 0, .1);
}

.body-title {
  color: rgba(211, 84, 0,1.0);
  float: left;
}

.body-text {
  border: 1px solid;
  border-radius: 10px;
  color: rgba(26, 188, 156,1.0);
  padding: 10px;
  margin-top: 10px;
  margin-left: 450px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.wrapper-div {
  width: 100%;
}



/************ map **************/

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

/************ map **************/

div.transition {
    background-color: #2c3e50;
    transition: background-color 5s linear;
    -moz-transition: background-color 5s linear;
    -o-transition: background-color 5s linear;
    -webkit-transition: background-color 5s linear;
}

div.animate_white {
    background-color: rgba(236, 240, 241,1.0);
}

div.animate_black {
    background-color: #2c3e50;
}



/********* road colors ************/

/*path {
  fill: none;
  stroke: red;
  stroke-linejoin: round;
  stroke-linecap: round;
}*/

.major_road { 
  stroke: #776; 
}
.minor_road { 
  stroke: #776; 
}
.highway { 
  stroke: rgba(127, 140, 141,1.0); stroke-width: 1.8px; 
}

/*********************************/

.map {
  margin: 0px 10px 0px 10px;
  /*width: 100%;*/
  z-index: -1;
}

/*#index-wrapper{
  height: 800px;
  width: 100px;
}*/

#map-div {
  border-radius: 10px;
  margin-left: 40px;
  width: 1200px;
  z-index: 3;
}

#flight-paths {
  z-index: 5;
  position: absolute;
}

#routesewr {
  z-index: 999;
  position: absolute;
}

#routesjfk {
  z-index: 999;
  position: absolute;
}

#routeslga {
  z-index: 999;
  position: absolute;
}

/*********** bootstrap top nav **********/
ul {
  /*background-color: #ecf0f1;*/
  padding: 3px 0px 5px 15px;
}

/*********** side nav legend **********/
.side-legend {
  background-color: rgba(41, 128, 185,1.0);
  bottom: 400px;
  border-radius: 0px 7px 7px 0px;
  height: 150px;
  left: -90px;
  position: fixed;
  width: 100px;
  z-index: 10000;
}

/*********** timer *************/

.timer-clock {
  height: 40px;
}

















=======
/************* Clock ************/

.clock{
  float: left;
  font-size: 18pt;
  color: #AAA;
  position: absolute;
  text-align: center;
  top: 50%;
  left:50%;
  margin: -128px 0 0 -310px;
}
.clock p {
  padding: 20px 10px;
  box-shadow: 
    0 -1px 0 0px rgba(255,255,255,0.33), 
    0 0 0 5px #111,
    0 10px 30px 0px rgba(0,0,0,0.33);
  background: #000;
}
.clock p span{
      background: #444444; /* Old browsers */
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#111111));
      background: -webkit-linear-gradient(#444444 0%, #111111 100%);
      background: -moz-linear-gradient(#444444 0%, #111111 100%);
      background: -o-linear-gradient(#444444 0%, #111111 100%);
      background: linear-gradient(#444444 0%, #111111 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
    box-shadow: 
        0 0 30px 2px rgba(0,0,0,0.5),
        0 1px 3px 0px rgba(255,255,255,0.5),
        inset 0 30px 60px -30px rgba(255,255,255,0.5),
        inset 0 10px 30px -5px rgba(0,0,0,0.5),
        inset 0 -155px 0px -100px rgba(0,0,0,0.33),
        inset 0 -130px 30px -100px rgba(255,255,255,0.15);
      text-shadow: 1px 2px 5px #000, 0px -1px 0px #FFF;
      padding: 10px 15px;
      margin: 0 0 0 5px;
    }
>>>>>>> 1df03c5e7bcb98e919c02ec9d4e8da03c5c21acf
