/************ map **************/
body {
  margin: 0;
}

path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.major_road { stroke: #776; }
.minor_road { stroke: #ccb; }
.highway { stroke: #f39; stroke-width: 1.5px; }
.rail { stroke: #7de; }
/************ map **************/
/*
.blackbg {
  background-color: black;
}*/

.whitebg {
  background-color: white;
}

.map {
  width: 100%;
  z-index: -1;
}

/*********** bootstrap **********/
ul {
  background-color: #34495e;
}

/*********** side nav legend **********/
.side-legend {
  background-color: #34495e;
  bottom: 500px;
  border-radius: 7px;
  height: 50px;
  left: -90px;
  position: fixed;
  width: 100px;
  z-index: 10000;
}
