<!DOCTYPE html>
<html>
<head>
  <title>BYE~NY

</title>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- <script src="javascripts/d3.v3.min.js"></script>
  <script src="javascripts/d3_geotiles.js"></script> -->
</head>
<section>
  <body>
   <!--  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="#">Title</a>
      <ul class="nav">
        <li class="active"><a href="#">ByeNy</a></li>
        <li><a href="#">Graphs?</a></li>
        <li><a href="#">Data?</a></li>
        <li><a href="#">About Us?</a></li>
      </ul>
    </div>
  </div> -->
  <%= yield %>
  </body>
</section> 
</html>
